body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(247, 247, 247); */
    background-color: black;

    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%  );
    width: 200px;
    height: 200px;
    border-radius: 8%;
}

.box:hover{
    /* so funciona para mover o elemento na tela */
    transform: translate(250px, 250px) rotate(-360deg) skew(-20deg); /* juntando os 2 elementos*/
    transition: transform 1s ease-in-out;

    /* so funciona para rodar o elemento na tela */
    /* transform: rotate(360deg); */
}

/* transform: matrix()

matrix: matrix(
    scaleX(),
    skewY(),
    skewX(),
    scaleY(),
    translateX(),
    translateY()
)

usa todas essa propriedades da na sequencia que esta listada. 

pode ser usado pelo site com https://angrytools.com/
essencial para gerencias animações com CSS. 

*/

.boxl{
    background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%  );
    width: 200px;
    height: 200px;
    border-radius: 8%;
}

.boxl:hover{
    /* so funciona para mover o elemento na tela */
    transform: rotateY(20deg) rotateY(40deg) rotateZ(20deg); /* perspectiva de profundidade */
    transition: transform 1s ease-in-out;
}